

/* start of header and home section */

body{
background-color: #0D0D0D;
overflow: hidden;
}


#searchInput{
  color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
#searchInput:focus{
 color: white;
}
#searchInput::placeholder{
 color: grey;
 
}

nav{
   margin-left:130px;
    text-align: center;
}

.homeSection{
  
    height: 660px;
    width: 100%;
    color: white;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 660px;
    
}
.navmenu{
height: 100%;
width: 150px;
position: fixed;
z-index: 1;
background-color: #111111;
top: 0px;
left:0px;
}
.insidemenu li a{
    color: white;
    text-decoration: none;
}
.navmenu li{
    list-style: none; 
    padding-top: 10px; 
    
}
.insidemenu li{
    list-style: none;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   transition: 0.5s all;
   -webkit-transition: 0.5s all;
   -moz-transition: 0.5s all;
   -ms-transition: 0.5s all;
   -o-transition: 0.5s all;
 
    
}
.insidemenu li:hover a{
    color:#BD3932;
}
.nav-logo i{
color: #0D0D0D;
display: block;

}
.myclose{
 margin-top: 200px;
 padding-top: 180px;
}
.fa-globe{
    margin-top: 150px;
    padding-top: 200px;
}

.mysociallinks i{
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}
.mysociallinks p{
    color: grey;
}
/*start of main */
.inner{
    position: relative;
    /* transition:0.5s all 10s;
    -webkit-transition:0.5s all 10s;
    -moz-transition:0.5s all 10s;
    -ms-transition:0.5s all 10s;
    -o-transition:0.5s all 10s; */
}
.inneroverlay{
   position: absolute;
   left: 20px;
   top: 10px;
   padding-top: 20px;
   margin-top: 20px;
   display: none;
   transition:0.5s all 15s ;
   -webkit-transition:0.5s all 15s ;
   -moz-transition:0.5s all 15s ;
   -ms-transition:0.5s all 15s ;
   -o-transition:0.5s all 15s ;
}
.inner:hover .inneroverlay{
    display: block;
    transform: rotate(90 deg);
    -webkit-transform: rotate(90 deg);
    -moz-transform: rotate(90 deg);
    -ms-transform: rotate(90 deg);
    -o-transform: rotate(90 deg);
}
.inneroverlay p{
    margin-top: 10px;
}
.inneroverlay h3{
margin-bottom: 15px;
text-align: center;
}
.overview{
    margin-top: 20px;
    margin-bottom: 20px;
}


/* end of header and home section */
/* start of loading screen
 */
.loadingscreen{
    z-index: 99999999999;
}



/* start of contact section */
#contactUs h3{
  text-align: left;  
}
#contactUs input{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #0D0D0D;
}
#contactUs input::placeholder{
    color: white;
}
.row button{
    background-color: #0D0D0D;
    color: white;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.row button:hover{
background-color: white;
color: black;
}